body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4
}

/*global*/

.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

/*header*/
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #17c2ce 3px solid;

}

header a{
    color: #ffffff;
    text-decoration: name;
    text-transform: uppercase;
    font-size: 16px;

}

header ul{
    margin:0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin:0;
}

header nav{
    float: right;
    margin-top:16px;
}

header .highlight, header .current a{
    color: #0eabc7;
    font-weight: bold;
}
